.venv/
venv/
__pycache__/
node_modules/
frontend/node_modules/
*.pt
*.bin
!ml/data/embeddings/faiss_index.bin
*.out
*.log
*.safetensors
*.csv
.DS_Store


# Ignore massive AI Neural Networks to avoid GitHub 100MB crash
ml/models/
legal_petition_model/
legalverse_task1_model/
results_distilbert_petition/
results_inlegalbert/
